{% extends 'base.html.twig' %}

{% block title %}New TaxCondition{% endblock %}

{% block body %}
    <h1>Create new TaxCondition</h1>

    {{ include('tax_condition/_form.html.twig') }}

    <a href="{{ path('app_tax_condition_index') }}">back to list</a>
{% endblock %}
