{% extends 'base.html.twig' %}

{% block title %}Editar Producto o Servicio{% endblock %}

{% block body %}
    <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
            <h5 class="mb-0">
                <i class="bi bi-pencil-square"></i> Editar Producto o Servicio
            </h5>
        </div>
        <div class="card-body">
            {{ include('product_service/_form.html.twig', {'button_label': 'Actualizar'}) }}
        </div>
    </div>

    <div class="mt-3 d-flex justify-content-between">
        <a href="{{ path('app_product_service_index') }}" class="btn btn-secondary">
            <i class="bi bi-arrow-left-circle"></i> Volver al listado
        </a>

        {{ include('product_service/_delete_form.html.twig') }}
    </div>
{% endblock %}
